# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Expo
.expo/
.expo-shared/
web-build/

# Strapi
backend/.cache/
backend/build/
backend/public/uploads/
backend/.strapi/
backend/.tmp/
backend/exports/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db

